div.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
}

div.tabs button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    transition: 0.3s;
}

div.tabs button:hover {
    background-color: #ddd;
}

div.tabs button:active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}
/*
.maincontent {
    font-size: 20px;
}
.dartpower {
    display: none;
}
