html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans";
}

.clicker {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002b35;
  height: 50%;
}

.buyables {
  background: #fdf6e3;
  height: 50%;
}

.clicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicker__button-area {
  font-size: 24px;
  text-align: center;

  background: #fdf6e3;
  border-radius: 8px;
  opacity: .8;
  padding: 30px;
}

.clicker__button {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/Keyboard-icon_Wikipedians.svg"));
  background-size: cover;
  height: 310px;
  width: 310px;

  background-color: #fdf6e3;
  border: none;
  outline: none;
}
